.addOptionError{
    color: #FFAA22;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.addOption{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.addOption__input{
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color:$off-white;
    flex-grow:1;
    margin: 0 0 $s-size 0;
    padding: $s-size;

}

@media (min-width: $desktop-breakpoint){
    .add-option{
        flex-direction:row;
    }
    .add-option__input{
        margin: 0 $s-size 0 0;
    }
}