.container{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 $m-size;
    color: $off-white;
}
.container-flex{
    display:flex;
    margin: 0 auto;
    padding: 0 $s-size;
    flex-direction: column;
    color: $off-white;
    text-align: center;
    text-decoration: none;
}
.container-flex-line{
    display:flex;
    margin: 0;
    padding: 0;
    flex-direction: line;
    justify-content: space-between;
    color: $off-white;
}
.container p {
    margin: $s-size 0;
}