.header{
    background: $off-black;
    color: $off-white;
    padding: $s-size 0;
}

.header__title{
    font-size: $l-size;
    margin: $s-size ;
    color: white;
}
.header__title a:link, .header__title a:visited{
    text-decoration: none;
    color: $off-white
}
.header__subtitle{
    font-size: $m-size;
    color: $off-white;
    font-weight: 500;
    margin:  0;
}

@media (min-width: $desktop-breakpoint){
    .header{
    }
}