select::-ms-expand {
    display: none;
}
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("/img/dropdown.png") no-repeat 90% 50%;
    margin: $m-size $s-size;
    padding: $s-size;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.select-style select:focus {
    outline: none;
}
.addOption button {
    margin: $s-size;
}