.option{
    display:flex;
    justify-content: space-between;
    padding: 0 $sm-size;
    border-bottom: 1px solid lighten($lightblue, 10%);
}

p.option__text{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: $s-size 0;
    word-break: break-all;
}