table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid $off-white;
    margin: 0;
    padding: $s-size;
    font-size: $m-size;
    text-transform: capitalize;
    font-weight: bold;
}
tr{
    margin: 0;
    padding: 0;
}
.topLeftEmptyCell{
    border-top: 0;
    border-left: 0;
}