.widget{
    background-color : $lightblue;
    margin-bottom: $m-size;
}
.widgetElement{color: #a5afd7;
    margin: 0;
    padding: 1.2em;
    text-align: left;
    border-bottom: 1px solid lighten($lightblue , 10%);
}
.widget-header{
    background-color : $blue;
    color: $off-white;
    padding: 0 $s-size;
    display: flex;
    justify-content: space-between;
}
.widget-header__title{
    
}

@media (min-width: $desktop-breakpoint){
    .widget{
        margin-bottom: $xl-size; 
    }
}