/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }
html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: #333745; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.sortableList, .sortableList li {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  list-style-type: none; }

.sortableList li, li {
  border: 1px solid grey;
  margin: 0.8rem;
  padding: 0.8rem;
  list-style-type: none;
  color: #20222b;
  background-color: #a5afd7; }

.addOptionError {
  color: #FFAA22;
  font-style: italic;
  padding: 0 1.6rem;
  margin: 1.6rem 0 0 0; }

.addOption {
  display: flex;
  flex-direction: column;
  padding: 1.6rem; }

.addOption__input {
  background: #333745;
  border: none;
  border-bottom: 0.3rem solid #1d2028;
  color: #a5afd7;
  flex-grow: 1;
  margin: 0 0 0.8rem 0;
  padding: 0.8rem; }

@media (min-width: 60rem) {
  .add-option {
    flex-direction: row; }
  .add-option__input {
    margin: 0 0.8rem 0 0; } }

.big-button {
  background: #8357c5;
  border: none;
  border-bottom: 0.6rem solid #693cad;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  padding: 2.4rem;
  width: 100%; }

.big-button:disabled {
  opacity: .5; }

.button {
  background: #8357c5;
  border: none;
  border-bottom: 0.3rem solid #693cad;
  color: white;
  font-weight: 500;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.2em; }

button:disabled,
button[disabled] {
  background: #a5afd7;
  border-bottom: 0.3rem solid #8290c7;
  color: #666666; }

.button--link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0; }

@media (min-width: 60rem) {
  .big-button {
    margin-bottom: 4.8rem; } }

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  color: #a5afd7; }

.container-flex {
  display: flex;
  margin: 0 auto;
  padding: 0 0.8rem;
  flex-direction: column;
  color: #a5afd7;
  text-align: center;
  text-decoration: none; }

.container-flex-line {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: line;
  justify-content: space-between;
  color: #a5afd7; }

.container p {
  margin: 0.8rem 0; }

.gameInfo {
  text-align: left;
  font-size: 1.6rem; }

.explanation {
  font-style: italic;
  padding: 0 1.6rem; }

.header {
  background: #20222b;
  color: #a5afd7;
  padding: 0.8rem 0; }

.header__title {
  font-size: 3.2rem;
  margin: 0.8rem;
  color: white; }

.header__title a:link, .header__title a:visited {
  text-decoration: none;
  color: #a5afd7; }

.header__subtitle {
  font-size: 1.6rem;
  color: #a5afd7;
  font-weight: 500;
  margin: 0; }

.option {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2em;
  border-bottom: 1px solid #5c627b; }

p.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0.8rem 0;
  word-break: break-all; }

select::-ms-expand {
  display: none; }

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("/img/dropdown.png") no-repeat 90% 50%;
  margin: 1.6rem 0.8rem;
  padding: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none; }

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.select-style select:focus {
  outline: none; }

.addOption button {
  margin: 0.8rem; }

table {
  border-collapse: collapse; }

td, th {
  border: 1px solid #a5afd7;
  margin: 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold; }

tr {
  margin: 0;
  padding: 0; }

.topLeftEmptyCell {
  border-top: 0;
  border-left: 0; }

.widget {
  background-color: #464b5e;
  margin-bottom: 1.6rem; }

.widgetElement {
  color: #a5afd7;
  margin: 0;
  padding: 1.2em;
  text-align: left;
  border-bottom: 1px solid #5c627b; }

.widget-header {
  background-color: #3c4251;
  color: #a5afd7;
  padding: 0 0.8rem;
  display: flex;
  justify-content: space-between; }

@media (min-width: 60rem) {
  .widget {
    margin-bottom: 4.8rem; } }
