.sortableList, .sortableList li{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    list-style-type: none;
    margin: 0;
    padding: 0;
    backface-visibility:hidden
} 

.sortableList li, li{
    border: 1px solid grey;
    margin: $s-size;
    padding: $s-size;
    list-style-type: none;
    color: $off-black;
    background-color: $off-white;
    backface-visibility:hidden
} 