html{
    font-size: 62.5%;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: #333745;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
} 

