//colors
$off-black:#20222b;
$off-white:#a5afd7;
$dark-blue:#333745;
$blue:#3c4251;
$lightblue:#464b5e;
$purple: #8357c5;

//spacing

$xs-size: 0.2em;
$s-size:0.8rem;
$sm-size:1.2em;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;

$desktop-breakpoint: 60rem;